@page "/"

<PageTitle>Evaluación Docente</PageTitle>

<h2>Ayúdanos a mejorar nuestra calidad de enseñanza evaluando a tus profesores</h2>

<a href="/evaluacion"><button class="btn btn-primary">Evaluar ahora</button></a>
